<div class="dashboard-container">
  <nav class="sidebar">
    <h2 class="sidebar-header">BBC Admin App</h2>
    <ul class="menu-items">
      <li><a [routerLink]="['add-employee']" routerLinkActive="active" (click)="isDashboard = false"><i class="bi bi-person-plus"></i> Add Employee</a></li>
    </ul>
  </nav>

  <div class="main-content">
    <div class="top-navigation">
      <div class="button-container">
        <button class="small-button back-button" (click)="goBack()">Home</button>
        <button class="logout-button" (click)="logout()">Logout</button>
      </div>
    </div>

    <div class="top-line"></div>

   
 <div *ngIf="isDashboard" class="welcome-message">
  <h1>Welcome to BBC Admin Dashboard</h1>
  <p>Manage customers, view bills, and monitor transactions seamlessly.</p>
  <img src="assets/images/picadmin.jpg" style="width: 400px;" alt="">
</div>
    <router-outlet></router-outlet>
  </div>
</div>
